@model GPILWebApp.Models.GPIL_ORGN_MASTER

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Organization Delete</h2>


<div>

    <div class="col-sm-6">
        <p id="notify" style="display:none"> @TempData["SuccessMessage"]</p>
    </div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGN_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGN_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGN_ADDRESS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGN_ADDRESS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGN_ADDRESS2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGN_ADDRESS2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGN_COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGN_COUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSURANCE_VAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSURANCE_VAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYNC_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYNC_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYNC_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYNC_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VARIETY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VARIETY)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <h3>Are you sure you want to delete this?</h3>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/sweetalert.min.js"></script>
<link href="~/assets/css/sweetalert.css" rel="stylesheet" />
<script>

    var mes = document.getElementById("notify").innerHTML
    if (mes.startsWith("Success", 1)) {
        sweetAlert("Done", mes, "success");
        setTimeout(function () {
            window.location = "/GPIL_ORGN_MASTER/Index";
        }, 2000)
    }
</script>