@model GPILWebApp.Models.GPIL_VILLAGE_MASTER

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Village Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VILLAGE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VILLAGE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLUSTER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLUSTER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VILLAGE_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
