@model GPILWebApp.Models.GPIL_VILLAGE_MASTER

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Village Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.VILLAGE_CODE)
        @Html.HiddenFor(model => model.CREATED_BY)
        @Html.HiddenFor(model => model.CREATED_DATE)



        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">


                    <label class="control-label">Village Name </label>

                    @Html.EditorFor(model => model.VILLAGE_NAME, new { htmlAttributes = new { @class = "form-control", id = "txtVillageName", minlength = "5", maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.VILLAGE_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">
                    
                    <label class="control-label">Cluster Code </label>

                    @Html.DropDownListFor(model => model.CLUSTER_CODE, (IEnumerable<SelectListItem>)ViewData["GPIL_CLUSTER_MASTER"] as SelectList, "SELECT Cluster Code", new { @class = "form-control", @id = "ddlClusterCode" })
                    @Html.ValidationMessageFor(model => model.CLUSTER_CODE, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">

                    <label class="control-label">Status </label>

                    @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem> {
                    new SelectListItem {Text="Y" ,Value="Y" },
                    new SelectListItem {Text="N" ,Value="N" }
               }, "SELECT STATUS", new { @class = "form-control", @id = "ddlStatus" })
                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })

                   
                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">
                    <label class="control-label"></label>
                    

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">

                    <br />

                    <input type="submit" value="Save" style="width:95px" class="btn btn-success btn-sm" />


                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">
                   

                </div>
            </div>
        </div>







        

       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
