
@{
    ViewBag.Title = "ExcelGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExcelGrid</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>ViewBag.Error</h1>
    <h1>ViewBag.message</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="sm-3">
                <input type="submit" value="Save" style="width:95px" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">VILLAGE List</h3>
            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div class="table-header">
                Results for "VILLAGE DETAILS"
            </div>
            <div class="form-horizondal" id="frmdetl">
                <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                    <thead>
                        <tr>
                            <th>VILLAGE_CODE</th>
                            <th>VILLAGE_NAME</th>
                            <th>CLUSTER_CODE</th>                            
                            <th>CREATED_BY</th>
                            <th>CREATED_DATE</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (var c in ViewBag.LCrops)
                        {
                            <tr>
                                <td>@c.VILLAGE_CODE</td>
                                <td>@c.VILLAGE_NAME</td>
                                <td>@c.CLUSTER_CODE</td>
                                <td>@c.CREATED_BY</td>
                                <td>@c.CREATED_DATE</td>
                                <td>@c.STATUS</td>
                                <td>
                                    @Html.ActionLink("Edit", "EditExcelGrid", new { id = c.VILLAGE_CODE }) |
                                    @Html.ActionLink("Details", "Details", new { id = c.VILLAGE_CODE }) |
                                    @Html.ActionLink("Delete", "DeleteExcelGrid", new { id = c.VILLAGE_CODE })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dynamic-tabl').dataTable(
           );
    });
</script>