@model GPILWebApp.Models.GPIL_SUBINVENTORY

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">SubInventory Creation</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      

        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">


                    <label class="control-label">*SubInventory Code </label>

                    @Html.EditorFor(model => model.SUB_INV_CODE, new { htmlAttributes = new { @class = "form-control", id = "txtSubInventoryCode", minlength = "2", maxlength = "30", @onchange = "UserIDCheck();", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" } })
                    @Html.ValidationMessageFor(model => model.SUB_INV_CODE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">


                    <label class="control-label">*SubInventory Desc  </label>

                    @Html.EditorFor(model => model.SUB_INV_DESC, new { htmlAttributes = new { @class = "form-control", id = "txtSubInvDesc", minlength = "2", maxlength = "30" } })
                    @Html.ValidationMessageFor(model => model.SUB_INV_DESC, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>



        <div class="row">

            <div class="col-sm-6">
                <div class="sm-3">


                    <label class="control-label">Status </label>

                    @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem> {
                    new SelectListItem {Text="Y" ,Value="Y" },
                    new SelectListItem {Text="N" ,Value="N" }
               }, "SELECT STATUS", new { @class = "form-control", @id = "ddlStatus" })
                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">

                    <br />
                    <input type="submit" id="btnSubmit" value="Create" style="width:95px" class="btn btn-success btn-sm" />
                    <input type="button" id="btnView" value="View" style="width:95px" onclick=@("window.location.href='" + @Url.Action("Index", "GPIL_OPERATION_RECIPE") + "'") ; class="btn btn-primary btn-sm" />

                </div>
            </div>
            <div class="col-sm-6">
                <div class="sm-3">
                    <label class="control-label"></label>


                </div>
            </div>
        </div>




    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    function UserIDCheck() {
        var SubInventoryID = $("#txtSubInventoryCode").val();
        $.ajax({
            url: '@Url.Action("CheckSubInventoryAvailability", "GPIL_SUBINVENTORY")',
            type: "POST",
            datatype: 'json',
            data: { 'SubInventorydata': SubInventoryID },
            success: function (data) {
                if (data != '') {
                    var user = JSON.parse(data);
                    $("#Status").html('<font color="Green"></font>');
                    $("#txtSubInventoryCode").css("border-color", "Green");
                    $('#txtSubInvDesc').val(user[0].SUB_INV_DESC);

                    $('#ddlStatus').val(user[0].STATUS);

                    $('#btnSubmit').val("Update");
                }
                if (data == 0) {
                    $("#Status").html('<font color="Green"> Taken !. you can create ID.</font>');
                    $("#txtSubInventoryCode").css("border-color", "Green");
                    $('#txtSubInvDesc').val('');
                    $('#ddlStatus').val('');
                     $('#btnSubmit').val("Create");
                }
            },
            error: function () { alert("Huh? What? What did you need?.") }
        });
    }




</script>