@model GPILWebApp.Models.GPIL_RATE_MASTER

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Rate Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


   



    <div class="form-horizontal">
        <h4>GPIL_RATE_MASTER</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">


                    <label class="control-label">Location Code </label>

                    @Html.EditorFor(model => model.Loc_Code, new { htmlAttributes = new { @class = "form-control", id = "txtItemCode" } })
                    @Html.ValidationMessageFor(model => model.Loc_Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">
                    <label class="control-label">Item Code </label>

                    @Html.EditorFor(model => model.Item_Code, new { htmlAttributes = new { @class = "form-control", id = "txtItemCode" } })
                    @Html.ValidationMessageFor(model => model.Item_Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="sm-3">
                    <label class="control-label">Rate</label>

                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", id = "txtItemCode" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-sm-6">
                <div class="sm-3">


                    <br />

                    <input type="submit" value="Save" style="width:95px" class="btn btn-success btn-sm" />
                </div>
            </div>


        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
