@model IEnumerable<GPILWebApp.Models.GPIL_SOIL_MASTER>

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Soil List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Soil Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("Create", "GPIL_SOIL_MASTER") + "'");" class="btn btn-success btn-sm"> Create New Item </button>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("ExcelIndex", "GPIL_SOIL_MASTER") + "'");" class="btn btn-success btn-sm"> Excel Upload</button>
    @*<button type="button" role="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-form"> Excel Upload </button>*@
</p>



<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Soil List</h3>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "SOIL DETAILS"
        </div>
        <div class="form-horizondal" id="frmdetl">
            <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SOIL_TYPE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SOIL_NAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SOIL_DESC)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.STATUS)
                        </th>
                        
                        <th></th>
                    </tr>

                </thead>
                <tbody id="tbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOIL_TYPE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOIL_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOIL_DESC)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SOIL_TYPE }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SOIL_TYPE }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SOIL_TYPE })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/assets/js/jquery-2.1.4.min.js"></script>





<script>

    $(document).ready(function () {
        $('#dynamic-tabl').dataTable(
           );
    });

</script>
