@model IEnumerable<GPILWebApp.Models.GPIL_Chemistry_Reports>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceOrganisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attrbute1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attrbute2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attribute3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attribute4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attribute5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceOrganisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attrbute1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attrbute2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attribute3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attribute4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attribute5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
