@model IEnumerable<GPILWebApp.Models.GPIL_FARMER_MASTER>

@{
    ViewBag.Root = "Master";
    ViewBag.Title = "Farmer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Farmer Index</h2>


<p>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("Create", "GPIL_FARMER_MASTER") + "'");" class="btn btn-success btn-sm"> Create New Item </button>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("ExcelIndex", "GPIL_FARMER_MASTER") + "'");" class="btn btn-success btn-sm"> Excel Upload</button>

</p>
<div class="row">
<div class="col-xs-12">
    <h3 class="header smaller lighter blue">Farmer List</h3>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header">
        Results for "FARMER DETAILS"
    </div>

    <div class="form-horizondal" id="frmdetl">
        <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FARM_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FARM_CATEGORY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FARM_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FARM_FATHER_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VILLAGE_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SOIL_TYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FARM_ADDRESS1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STATUS)
                    </th>

                    <th></th>
                </tr>
            </thead>

            <tbody id="tbody">
                @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FARM_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FARM_CATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FARM_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FARM_FATHER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VILLAGE_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOIL_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FARM_ADDRESS1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUS)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FARM_CODE }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FARM_CODE }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FARM_CODE })
                </td>
            </tr>
            }

            </tbody>
        </table>
    </div>

</div> 
</div> 



<script src="~/assets/js/jquery-2.1.4.min.js"></script>





<script>

    $(document).ready(function () {
        $('#dynamic-tabl').dataTable(
           );
    });

</script>