@model GPILWebApp.Models.GPIL_FARMER_MASTER

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GPIL_FARMER_MASTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_CATEGORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_CATEGORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_FATHER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_FATHER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VILLAGE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VILLAGE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOIL_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOIL_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FARM_ADDRESS6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FARM_ADDRESS6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_ACCOUNT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_ACCOUNT_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFSC_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFSC_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTUPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTUPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAN_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAN_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALERT_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALERT_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALERT_MSG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALERT_MSG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE5)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
