@model GPILWebApp.Models.GPIL_SUPPLIER_MASTER

@{
    ViewBag.Title = "supplier Master Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPP_ADDRESS8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPP_ADDRESS8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTUPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTUPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTRIBUTE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTRIBUTE5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPIL_SUPP_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPIL_SUPP_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPIL_USER_MASTER.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPIL_USER_MASTER.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPIL_USER_MASTER1.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPIL_USER_MASTER1.USER_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
